html, body {
  width: 700px;
  height: 600px;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

div {
  margin: auto;
  width: 100%;
}

main {
  margin-bottom: 90px;
}

#editor_holder > div > div.je-indented-panel {
  border: 0;
}

#editor_holder > div > h3 {
  display: none;
}

h3 {
  color: #278efc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 1em;
  font-weight: bold;
}

#searchbar {
  background-color: white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
  padding-left: 10px;
  padding-bottom: 10px;
  border: #278efc;
  border-top-width: thick;
}

div[data-theme="html"] .je-indented-panel {
  max-width: 90%;
  font-family: system-ui, sans-serif;
  width: 90%;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  border: none !important;
  border-left: 1px solid rgb(221, 221, 221) !important;
  border-top: 1px solid rgb(221, 221, 221) !important;
}

td, th {
  background-color: #f8f9fa !important
}

::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  margin-top: 30px;
  margin-bottom: 60px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}