html, body {
  height: 100%;
}

main {
  width: 95%;
}

html {
  display: table;
}

body {
  padding-top: 50px;
  display: table-cell;
  padding-bottom: 150px;
}

div {
  margin: auto;
  width: 100%;
}

main {
  margin: auto;
}

td, th {
  background-color: #f8f9fa !important
}

::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar {
  margin-top: 35px;
  margin-bottom: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 35px;
  margin-bottom: 10px;
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  margin-top: 35px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}